@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Poppins:wght@200;400;700;900&display=swap');

/* General
------------------------------------------------------------------------- */

*,
*:before,
*:after{margin: 0; padding: 0; box-sizing: border-box;}

:root{
  --black: #001A23;
  --yellow: #FFD165;
  --orange: #FD8F3A;
  --blue: #3B7480;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: var(--black)
}

h1, h2, h3, h4, h5, h6{font-family: 'Galindo', cursive; margin-block-end: 0.5em;}
p{margin-block-end: 1em; line-height: 30px;}
a{text-decoration: none; color: var(--black)}
img{width: 100%; height: auto;}
hr{display: block; width: 80%; position: relative; margin: 30px auto; height: 2px; background-color: var(--black); opacity: 0.3; }


/* Helpers
------------------------------------------------------------------------- */
.container{width: 90%; max-width: 2000px; position: relative; margin: 0 auto;}

.orange{color: var(--orange)}
.yellow{color: var(--yellow)}

.dash{ position: relative;  margin-left: 15px;}
.dash::before{content: ''; position: absolute; top: 0; left: -15px; width: 4px; height: 100%; border-radius: 4px;}
.dash--blue::before{background-color: var(--blue)}
.dash--yellow::before{background-color: var(--yellow)}


@media screen and (max-width: 426px){
  .container{width: 86%;}
}
/*
.app-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
*/
.page-wrap {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100vw;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100vw;
}
.page h1 {
  font-size: 5rem;
}
.page-index {
  background-color: hotpink;
}

.page-one {
  background-color: palegoldenrod;
}

.page-two {
  background-color:#459e9e
}

.page-three {
  background-color: palevioletred;
}

.page-four {
  background-color: palegreen;
}

.page-wrap > h1 {
  margin-top: 0;
}
/*
.ui-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.navigation {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/
.anim-switch {
  margin-top: 14px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.exit-box {
  color:#fff;
  display: inline-block;
  margin-left:14px;
  cursor: pointer;
  /* margin:0 14px; */
}

.exit-box [type='checkbox']{
 margin:0 8px;
}

/* Button
------------------------------------------------------------------------- */
.button{display: inline-block; background-color: var(--blue); padding: 13px 15px; border-radius: 6px; color: white; font-size: 14px; }

/* Navbar
------------------------------------------------------------------------- */
.navbar{width: 100vw; padding: 2vh 0; background-color: white; position: fixed; z-index: 100;}
.navbar .container{ display: flex; justify-content: space-between; }
.navbar__logo{width: 70px; display: flex; align-items: center;}
.navbar__menu{width: 60%; display: flex;  align-items: center;}
.navbar__menu ul{width: 100%;display: flex; justify-content: space-between;list-style-type: none; align-items: center;}
.navbar__cta{ display: flex; align-items: center;}

.navbar__icon{display: none; align-items: center; position: relative; z-index: 100; width: 160px; }
.navbar__icon__bars{height: 100%; position: relative; width: 50px; }
.navbar__icon__bars #bar-1,
.navbar__icon__bars #bar-2 {background-color: var(--black); display: block; height: 4px; border-radius: 5px; transition: 0.6s ease-out; position: absolute; top: 50%; transform: translateY(-50%);}

.navbar__icon__bars #bar-1{ width: 50px; top: 40%}
.navbar__icon__bars #bar-2{ width: 30px; top: 60%}

.navbar__icon__bars--active #bar-1,
.navbar__icon__bars--active #bar-2{ width: 50px; transform-origin: center; margin: 0; top: 50%; background-color: white; }

.navbar__icon__bars--active #bar-1{ transform: rotate(45deg);  }
.navbar__icon__bars--active #bar-2{ transform: rotate(-45deg)  }



@media (max-width: 768px) {

  .navbar__menu{position: fixed; visibility: hidden; top: 0; right: -100%;  width: 100%; height: 100%; background-color: var(--blue); transition: 0.6s ease-out}
  .navbar__menu--open{visibility: visible;transform: translateX(-100%); }
  .navbar__menu ul{flex-direction: column;}
  .navbar__menu ul li {font-size: 24px; width: 70%; text-align: center; margin: 2vh 0;}
  .navbar__menu ul li a{ width: 100%; height: 100%; display: block; padding: 3vw 0;  color: white; letter-spacing: 5px; font-weight: 400;}

  .navbar__icon{display: flex}
}

@media (max-width: 500px) {
  .navbar .container{flex-direction: row-reverse;}
  .navbar__icon{ flex-direction: row-reverse;}
  .navbar__icon__bars{align-items: flex-end;}
  .navbar__cta{display: none;}
}


/* Video Background
------------------------------------------------------------------------- */
.video{display: flex; align-items: center; width: 100%; height: 100vh; border: 1px solid red;}
.video__text{width: 50%; position: relative; z-index: 10; color: white;}
.video__text h1{font-size: clamp(30px, 6vw, 50px)}
.video__text p{font-size: clamp(14px, 1.2vw, 20px)}
.video__bg{position: absolute;  top: 0; left: 0; width: 100%; height: 100%; z-index: 1}
.video__bg::before{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 3;}

.video__bg{position: absolute;  top: 0; left: 0; width: 100%; z-index: 1}
.video__bg video{object-fit: cover; width: 100%; height: 100%;}

@media (max-width: 769px) {
  .video__text{width: 70%;}
}

@media (max-width: 500px) {
  .video__text{width: 100%;}
}